.main{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.main :nth-child(2){
    display: flex;
}
.main input{
    height: 40px;
    border: 0;
    background-color: rgb(236, 236, 236);
    padding: 0 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.main button {
    width: 130px;
    display: flex;
    align-items: center;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.main ol {
    margin: 0px;
}